<!DOCTYPE html>
<html lang=ko>
  <head>
    <title>체스 규칙 알아보기</title>
    <meta charset="utf-8">
    <style>
      body { 
        background-color: #F5F5F5;
        margin: 20px;
        padding: 20px;
        text-align: center;
      }
            
      header {
        background-color: #6C7A89;
        color: white;
        padding: 10px;
        text-align: center;
        position: relative;
      }
            
      h1 {
        margin-top: 20px;
        text-align: center;
        font-size: 50px;
        color: #2C3E50;
      }
            
      h2 {
        font-size: 30px;
        color: #34495E;
        margin-top: 30px;
      }
            
      h3 {
        font-size: 25px;
        color: #34495E;
        margin-top: 20px;
      }
            
      p {
        font-size: 20px;
        color: #34495E;
        margin: 20px 0;
        line-height: 1.5;
      }
            
      ul {
        margin: 20px 0;
        padding-left: 40px;
        font-size: 20px;
        color: #34495E;
        line-height: 1.5;
        list-style:none;
        padding-left:0px
      }
            
      li {
        margin: 10px 0;
      }
            
      ol {
        display:table;
        margin-left:  auto;
        margin-right:  auto;
        padding-left: 40px;
        font-size: 20px;
        color: #34495E;
        line-height: 1.5;
      }
      
      a {
        text-align: center;
        position: relative;
      }
            
      table {
        margin: 20px auto;
        border-collapse: collapse;
        width: 80%;
      }
            
      th {
        background-color: #2C3E50;
        color: white;
        font-size: 25px;
        padding: 10px;
      }
            
      td {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 20px;
      }
            
      .white {
        background-color: #FFF;
      }
            
      .black {
        background-color: #34495E;
        color: #FFF;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>기물 움직이는 법</h1>
    </header>
    
    <h2>체스판 구성</h2>
    <p>체스는 두 플레이어가 각각 16개의 기물을 가지고 시작합니다.<br>한쪽은 백, 한쪽은 흑을 맡으며, 백 플레이어가 먼저 시작합니다.</p>
    <img src="/static/image/rules00.png">
    <p>기물은 위와 같이 배치한 상태로 시작합니다.</p>
    
    <div class="tt_article_useless_p_margin contents_style">
        <div class="item_tab">
            <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                <a class="on" style="padding: 0 .5em;">
                    <h2>기본 행마법</h2>
                </a>
                <br>
                <a style="padding: 0 .5em;" data-filter="Pawn">폰</a> 
                <a style="padding: 0 .5em;" data-filter="Rook">룩</a> 
                <a style="padding: 0 .5em;" data-filter="Knight">나이트</a> 
                <a style="padding: 0 .5em;" data-filter="Bishop">비숍</a>
                <a style="padding: 0 .5em;" data-filter="Queen">퀸</a>
                <a style="padding: 0 .5em;" data-filter="King">킹</a>
            </span>
        </div>
    
        <div class="items">
            <ul>
                <ul class="hide">
                <li class="base">
                    <div class="item" data-type="Pawn">
                        <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                            <h3>♙♟ 폰 (Pawn, P)</h3>
                            <p>폰은 체스에서 가장 수가 많고 약한 기물입니다. 플레이어마다 8개가 주어집니다.</p>
                            <img src="/static/image/rules01.png">
                            <p>폰은 시작 위치(2번째 줄)에서는 앞으로 2칸 또는 1칸 이동할 수 있고,<br>이후부터는 앞으로 1칸씩만 이동할 수 있습니다.<br>뒤와 좌우로는 이동할 수 없습니다.</p>
                            <img src="/static/image/rules02.png">
                            <p>다른 기물들은 이동 범위가 곧 공격 범위이지만, 폰은 다릅니다.<br>폰은 정면을 공격할 수 없고 좌우 대각선 1칸 앞만 공격할 수 있습니다.<br>좌우 대각선 1칸 앞에 상대 기물이 있다면 그것을 잡고 그 위치로 이동할 수 있습니다.</p>
                            <img src="/static/image/rules03.png">
                            <p>폰은 정면을 공격할 수 없고 뒤나 옆으로도 갈 수 없으므로,<br>자신의 폰과 상대 폰과 마주치면 서로 잡지 못하고 전열이 생기게 됩니다.<br>이렇게 생긴 전열은 곧 전장의 구조가 됩니다.</p>
                        </span>
                    </div>
                    <li class="base">
                        <div class="item" data-type="King">
                            <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                                <h3>♔♚ 킹 (King, K)</h3>
                                <p>킹은 체스에서 가장 중요한 기물입니다.<br>하나뿐인 자신의 킹이 공격을 벗어날 수 없게 되면 게임에서 패배하기 때문입니다.<br>마찬가지로 상대 킹을 공격하여 외통수 상태로 만들면 게임에서 승리합니다.<br>자신의 킹은 안전하게 지키면서 상대 킹을 위험에 빠뜨리는 것이 바로 체스의 승리 조건입니다.</p>
                                <img src="/static/image/rules04.png">
                                <p>킹은 여덟 방향으로 1칸씩만 이동하고 공격할 수 있습니다.<br>약해 보이지만, 한번에 여덟 곳을 공격하고 지킬 수 있어 생각보다 강력한 기물입니다.</p>
                            </span>
                        </div>
                    </li>
                    <li class="base">
                        <div class="item" data-type="Queen">
                            <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                                <h3>♔♚ 퀸 (Queen, Q)</h3>
                                <p>퀸은 체스에서 가장 강력한 기물로, 플레이어마다 하나만 주어집니다.<br>폰의 가치를 1점으로 볼 때, 퀸의 점수는 자그마치 8점입니다.</p>
                                <img src="/static/image/rules05.png">
                                <p>퀸은 8방향 중 원하는 방향으로 제한 없이 이동하고 공격할 수 있습니다.<br>단, 이동할 때 다른 기물을 뛰어넘을 수는 없습니다.</p>
                            </span>
                        </div>
                    </li>
                    <li class="base">
                        <div class="item" data-type="Knight">
                            <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                                <h3>♘♞ 나이트 (Knight, N)</h3>
                                <p>나이트는 체스에서 가장 변칙적인 기물로, 플레이어마다 2개가 주어집니다.</p>
                                <img src="/static/image/rules06.png">
                                <p>나이트는 위와 같이 L자로 이동하고 공격할 수 있습니다.<br>경로에 기물이 있어도 무시하고 이동할 수 있습니다.<br>이 특이한 움직임을 다른 기물을 뛰어넘는다고 표현하기도 합니다.</p>
                            </span>
                        </div>
                    </li>
                    <li class="base">
                        <div class="item" data-type="Bishop">
                            <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                                <h3>♗♝ 비숍 (Bishop, B)</h3>
                                <p>비숍은 대각선으로만 움직이는 기물로, 플레이어마다 2개가 주어집니다.</p>
                                <img src="/static/image/rules07.png">
                                <p>비숍은 대각선 4방향 중 원하는 방향으로 제한 없이 이동하고 공격할 수 있습니다.<br>당연히 다른 기물을 뛰어넘지는 못합니다.</p>
                                <img src="/static/image/rules08.png">
                                <p>플레이어에게 주어지는 비숍 2개 중 하나는 어두운 칸, 하나는 밝은 칸에 배치됩니다.<br>비숍은 대각선으로 움직이므로 어두운 비숍과 밝은 비숍은 서로를 공격할 수가 없습니다.</p>
                            </span>
                        </div>
                    </li>
                    <li class="base">
                        <div class="item" data-type="Rook">
                            <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                                <h3>♖♜ 룩 (Rook, R)</h3>
                                <p>룩은 일반 기물 중 가장 강력하며(5점), 플레이어마다 2개가 주어집니다.</p>
                                <img src="/static/image/rules09.png">
                                <p>룩은 전후좌우 4방향 중 원하는 방향으로 제한 없이 이동하고 공격할 수 있습니다.</p>
                                <img src="/static/image/rules10.png">
                                <p>룩은 분명 강력하지만, 처음에는 폰과 다른 기물에게 둘러쌓여 구석에 있습니다.<br>폰이 움직이고 나이트와 비숍이 나간 후에야 행동할 수 있으므로 초반에는 사용할 수 없습니다.<br>그래도 룩은 공격과 방어 모두에서 유용하므로, 절대 허무하게 잃어서는 안 될 기물입니다.</p>
                            </span>
                        </div>
                    </li>
                  </li>
                </ul>
              </ul>
        </div>
      </div>
      <div class="tt_article_useless_p_margin contents_style">
        <div class="item_tab_special">
          <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
            <a class="on" style="padding: 0 .5em;">          
              <h2>특수 행마법</h2>
            </a>
            <br>
            <a style="padding: 0 .5em;" data-filter="Castle">캐슬</a> 
            <a style="padding: 0 .5em;" data-filter="Promotion">승급,프로모션</a>
            <a style="padding: 0 .5em;" data-filter="En_Passant">앙 파상</a> 
        </span>
    </div>
    <div class="items_special">
      <ul>
          <ul class="hide">
          <li class="base">
              <div class="item_special" data-type="Castle">
                  <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                    <h3>캐슬 (Castle, O-O / O-O-O)</h3>
                    <p>캐슬은 한 턴에 킹과 룩을 둘 다 움직여 킹을 룩 뒤에 숨기는 행마법으로, 게임 중 1번만 할 수 있습니다.<br>킹을 좌측이나 우측으로 2칸 움직이고, 룩을 킹이 온 방향 쪽 옆구리에 붙입니다.<br>한 턴만에 기물 2개를 움직이므로 킹과 룩의 느린 속도를 보완해 줍니다.</p>
                    <p>킹사이드 캐슬 (O-O):</p>
                    <img src="/static/image/rules11.png"> <img src="/static/image/rules12.png"> <img src="/static/image/rules13.png">
                    <p>퀸사이드 캐슬 (O-O-O):</p>
                    <img src="/static/image/rules14.png"> <img src="/static/image/rules15.png"> <img src="/static/image/rules16.png">
                    <p>캐슬을 할 수 있는 조건은 다음과 같습니다.</p>
                    <ol>
                      <li>킹과 대상 룩이 게임이 시작하고 단 한 번도 자리에서 움직인 적이 없어야 합니다.<br>예를 들어, 백이 퀸사이드(왼쪽) 캐슬을 하려고 하면, 킹과 퀸사이드 룩이 움직인 적이 없어야 합니다.</li>
                      <li>킹과 룩 사이에 다른 기물이 없어야 합니다. 아군과 적군 기물 모두 포함입니다.</li>
                      <li>킹이 움직일 2칸이 상대 기물의 공격 범위에 들어가 있지 않아야 하고,<br>킹이 공격받고 있지 않는 상태여야 합니다. 룩은 공격받고 있어도 상관 없습니다.</li>
                    </ol>
                  </span>
               </div>
          <li class="base">
              <div class="item_special" data-type="Promotion"> 
                <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                  <h3>승급, 프로모션 (Promotion, =Q/N/B/R)</h3>
                  <p>폰이 전진하여 자신 기준 8번째 줄, 즉 상대 진영 첫 줄까지 도달하면,<br>해당 폰을 퀸, 나이트, 비숍, 룩 중 원하는 것으로 승격할 수 있게 됩니다.<br>보통은 가장 강력한 퀸으로 승급시키기 때문에 퀴닝(Queening)이라고 부르기도 합니다.</p>
                  <img src="/static/image/rules17.png"> <img src="/static/image/rules18.png">
                  <p>승급하는 기물의 종류에는 어떤 제한도 없습니다.<br>체스판 위에 퀸이 남아 있어도 두 번째 퀸을 만들 수도 있습니다.<br>폰이 하나도 잡히지 않았다면, 이론상 퀸 9개도 가능합니다!</p>
                </span>
              </div>
          </li>
          <li class="base">
            <div class="item_special" data-type="En_Passant">
                <span style="font-family: 'Noto Sans Demilight', 'Noto Sans KR';">
                    <h3>앙 파상 (En Passant)</h3>
                    <p>상대 폰이 한번에 2칸 앞으로 가서 자신 폰 옆에 섰다면,<br>상대방 폰이 1칸만 움직인 것처럼 자신의 폰으로 잡을 수 있는 규칙을 앙파상이라고 부릅니다.<br>앙파상은 상대 폰이 2칸 전진한 그 턴에만 가능하며, 반드시 해야 하는 것은 아닙니다.</p>
                    <img src="/static/image/rules19.png"> <img src="/static/image/rules20.png">
                    <p><br></p>
                </span>
              </div>
          </li>
        </li>
        </ul>
      </ul>
    </div>
  </div>
    <header>
      <h1>승부 규칙</h1>
    </header>

    <h2>승리와 패배</h2>
      <h3>체크(check)</h3>
      <p>체크는 킹이 상대 기물의 공격을 당하는 상황을 의미합니다.<br>킹이 공격당한다면, 공격당한 쪽은 반드시 킹을 체크 상황에서 벗어나게 해야 합니다.<br>아래 그림에서는 백 킹이 흑 퀸에게 체크를 당하고 있습니다.</p>
      <img src="/static/image/rules21.png">
      <p>백은 다른 기물로 공격 경로를 가로막거나, 공격하는 기물을 제거하거나,<br>혹은 킹을 움직여서 공격을 피해야만 합니다.</p>
      <img src="/static/image/rules22.png"> <img src="/static/image/rules23.png"> <img src="/static/image/rules24.png">
      <p>체크 상태를 무시하고 다른 행동을 하면 안 됩니다.<br>그렇다고 상대 킹을 잡는 것도 규칙 위반입니다.<br>상대에게 체크를 당하고 있음을 알려주고, 상대가 수를 무르고 체크를 해결하게 해야 합니다.<br>자신의 킹을 고의로 체크 상태에 빠뜨리는 것도 불가합니다.</p>

      <h3>체크메이트 (Checkmate)</h3>
      <p>어떤 수를 써도 킹이 체크를 벗어날 수 없게 된다면 그쪽의 패배, 체크메이트입니다.<br>앞서 설명했듯 체스의 목표는 킹을 잡는 것이 아니라, 킹을 포위하여 항복시키는 것입니다.</p>
      <img src="/static/image/rules25.png">

      <h3>스테일메이트 (Stalemate)</h3>
      <p>체스에는 수를 쉴 수 없습니다. 다시 말해 플레이어는 무조건 한 턴에 1회 행동해야 합니다.<br>따라서 둘 수 있는 수가 하나도 없다면, 게임은 그대로 무승부가 됩니다.</p>
      <img src="/static/image/rules26.png">
      <p>위 그림에서 흑의 폰은 앞이 가로막혀 움직일 수 없습니다.<br>그리고 킹은 체크 상태는 아니지만 주변 칸이 모두 백의 공격 범위 안에 있으므로,<br>킹을 스스로 체크 상태에 빠뜨릴 수 없다는 규칙에 따라 움직일 수 없습니다.<br>따라서 흑이 아무런 행동도 할 수 없는 상태이므로, 스테일메이트가 선언됩니다.</p>

  </body>
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
  <script type="text/javascript">
    const itemTab = document.querySelector('.item_tab');
    const items = document.querySelector('.items');
    const item = document.querySelectorAll('.item');
  
    itemTab.addEventListener('click', (e) => {
      const filter = e.target.dataset.filter || e.target.parentNode.dataset.filter;
      if (filter == null) {
        return;
      }
      item.forEach((item) => {
        if(filter === '*' || filter === item.dataset.type) {
          item.style.display = "block"
        } else{
          item.style.display = "none"
        }
      });
    });
    
    const itemTab_special = document.querySelector('.item_tab_special');
    const items_special = document.querySelector('.items_special');
    const item_special = document.querySelectorAll('.item_special');
  
    itemTab_special.addEventListener('click', (e) => {
      const filter = e.target.dataset.filter || e.target.parentNode.dataset.filter;
      if (filter == null) {
        return;
      }
      item_special.forEach((item_special) => {
        if(filter === '*' || filter === item_special.dataset.type) {
          item_special.style.display = "block"
        } else{
          item_special.style.display = "none"
        }
      });
    });
    $(document).ready(function(){
        //Default Action
        $(".item").hide();
        $("ul.hide li:first").addClass("active").show(); //Activate first tab
        $(".item:first").show(); //Show first tab content
        //On Click Event
        $("ul.tabs li").click(function() {
            $("ul.hide li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".item").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return false;
        });
    });
    $(document).ready(function(){
        //Default Action
        $(".item_special").hide();
        $("ul.hide li:first").addClass("active").show(); //Activate first tab
        $(".item_special:first").show(); //Show first tab content
        //On Click Event
        $("ul.tabs li").click(function() {
            $("ul.hide li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
            $(".item_special").hide(); //Hide all tab content
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return false;
        });
    });
  </script>
</html>